@font-face {
	font-family: kalameh;
	font-style: normal;
	font-weight: bold;
	src: url('~assets/fonts/kalameh/kalameh-bold.eot');
	src: url('~assets/fonts/kalameh/kalameh-bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('~assets/fonts/kalameh/kalameh-bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('~assets/fonts/kalameh/kalameh-bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('~assets/fonts/kalameh/kalameh-bold.ttf') format('truetype');
}

@font-face {
	font-family: kalameh;
	font-style: normal;
	font-weight: 100;
	src: url('~assets/fonts/kalameh/kalameh-thin.eot');
	src: url('~assets/fonts/kalameh/kalameh-thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('~assets/fonts/kalameh/kalameh-thin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('~assets/fonts/kalameh/kalameh-thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('~assets/fonts/kalameh/kalameh-thin.ttf') format('truetype');
}

@font-face {
	font-family: kalameh;
	font-style: normal;
	font-weight: normal;
	src: url('~assets/fonts/kalameh/kalameh-regular.eot');
	src: url('~assets/fonts/kalameh/kalameh-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('~assets/fonts/kalameh/kalameh-regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('~assets/fonts/kalameh/kalameh-regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('~assets/fonts/kalameh/kalameh-regular.ttf') format('truetype');
}

@font-face {
	font-family: kalameh;
	font-style: normal;
	font-weight: 900;
	src: url('~assets/fonts/kalameh/kalameh-black.eot');
	src: url('~assets/fonts/kalameh/kalameh-black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('~assets/fonts/kalameh/kalameh-black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('~assets/fonts/kalameh/kalameh-black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('~assets/fonts/kalameh/kalameh-black.ttf') format('truetype');
}
